
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    color: rgb(0,0,0);
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5;
    font-weight: 300px;
    letter-spacing: .05rem;

}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: rgb(255, 77, 0);
}

.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(0,0,0);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}

.cta:hover{
    color: white;
    background-color: rgb(7, 7, 6);
}

#one{
    background-image: url(./img/one.png);
    background-size: cover;
    background-position: top center;
}

#one .one{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0, 50px;
    justify-content: flex-start;
}

#one h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1.5s;

}
#one h1:nth-child(1){
    animation-delay: 1.5s;
}
#one h1:nth-child(2){
    animation-delay: 2.5s;
}
#one h1:nth-child(3){
    animation-delay:3.5s ;
}

#one h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(240, 247, 210);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;

}
#one h1:nth-child(1) span{
    animation-delay: 1s;
}
#one h1:nth-child(2) span{
    animation-delay: 2s;
}
#one h1:nth-child(3) span{
    animation-delay:3s ;
}


#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/1111.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}

#sevices .service-item:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(17, 16, 16);
    opacity: .5;
    z-index: -1;

}
#services .service-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;

}

#services .service-item p{
    color: white;
}
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1{
    margin-bottom: 50px;
}

#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#projects .project-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image: linear-gradient(60deg, #75a1d4 0%, #6da5f9 100%);
    color: rgb(12, 12, 12);
}

#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p{
    color: white;
}

#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
}

#projects .project-img img{
    transition: .3s ease transfrom;
}
#projects .project-items:hover .project-img img{
    transform: scale(1.1);
}

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 12px;
    margin: 0 auto;
    
    padding: 100px 20px;
}

#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100px;
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1.2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
}
#about .col-right .cta{
    color: blue;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}



@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width:0;
        left: 100%;
    }
    
}

@keyframes text_reveal{
    100%{
        color: rgba(1, 1, 5, 0.712);
    }
}
